[submodule "Vender/spinningup"]
	path = Vender/spinningup
	url = https://github.com/CJY-C/spinningup.git
	branch = masarity-dev
[submodule "Vender/odio_urdf"]
	path = Vender/odio_urdf
	url = https://github.com/CJY-C/odio_urdf.git
	branch = cjy-dev
