<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="input_connector_l.SLDASM">
  <link
    name="ci_out">
    <inertial>
      <origin
        xyz="0 4.2001E-18 -0.0057"
        rpy="0 0 0" />
      <mass
        value="0" />
      <inertia
        ixx="0.00074704"
        ixy="0"
        ixz="5.6985E-37"
        iyy="0.00074704"
        iyz="1.7343E-36"
        izz="0.0014744" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://input_connector_l.SLDASM/meshes/ci_out.STL" />
      </geometry>
      <material
        name="red">
        <color
          rgba="0.5 0 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://input_connector_l.SLDASM/meshes/ci_out.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="ci_body">
    <inertial>
      <origin
        xyz="0 4.2001E-18 -0.0057"
        rpy="0 0 0" />
      <mass
        value="0.90761" />
      <inertia
        ixx="0.00074704"
        ixy="0"
        ixz="5.6985E-37"
        iyy="0.00074704"
        iyz="1.7343E-36"
        izz="0.0014744" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://input_connector_l.SLDASM/meshes/ci_body.STL" />
      </geometry>
      <material
        name="blue">
        <color
          rgba="0 0 0.5 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://input_connector_l.SLDASM/meshes/ci_body.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="ci_large_1"
    type="fixed">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="ci_out" />
    <child
      link="ci_body" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="ci_in">
    <inertial>
      <origin
        xyz="-5.5075E-34 -1.7044E-17 0.0057"
        rpy="0 0 0" />
      <mass
        value="0" />
      <inertia
        ixx="0.00074704"
        ixy="0"
        ixz="5.6985E-37"
        iyy="0.00074704"
        iyz="1.7343E-36"
        izz="0.0014744" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://input_connector_l.SLDASM/meshes/ci_in.STL" />
      </geometry>
      <material
        name="blue">
        <color
          rgba="0 0 0.5 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://input_connector_l.SLDASM/meshes/ci_in.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="ci_large_2"
    type="fixed">
    <origin
      xyz="0 0 -0.0114"
      rpy="0 0 0" />
    <parent
      link="ci_body" />
    <child
      link="ci_in" />
    <axis
      xyz="0 0 0" />
  </joint>
</robot>