<?xml version="1.0"?>
<robot  name="UNNAMED_199" >
 <link  name="BASEM297_BASEM0_BASEM0_BASEM0_b_body" >
  <inertial >
   <origin  xyz="-1.2862E-17 -2.139E-18 0.018175"  rpy="0 0 0" />
   <mass  value="0.5" />
   <inertia  iyz="-2.2352E-19"  ixx="0.0034892"  iyy="0.0034892"  ixy="-6.7063E-20"  ixz="-2.7087E-19"  izz="0.0060699" />
  </inertial>
  <visual >
   <origin  xyz="0 0 0"  rpy="0 0 0" />
   <geometry >
    <mesh  filename="package://base-m.SLDASM/meshes/b_body.STL" />
   </geometry>
   <material  name="body" >
    <color  rgba="0.5 0.5 0.5 1" />
   </material>
  </visual>
  <collision >
   <origin  xyz="0 0 0"  rpy="0 0 0" />
   <geometry >
    <mesh  filename="package://base-m.SLDASM/meshes/b_body.STL" />
   </geometry>
  </collision>
 </link>
 <link  name="BASEM297_BASEM0_BASEM0_BASEM0_b_in" >
  <inertial >
   <origin  xyz="-1.2862E-17 1.7762E-17 0.024125"  rpy="0 0 0" />
   <mass  value="3.3499" />
   <inertia  iyz="-2.2352E-19"  ixx="0.0034892"  iyy="0.0034892"  ixy="6.7063E-20"  ixz="2.7087E-19"  izz="0.0060699" />
  </inertial>
  <visual >
   <origin  xyz="0 0 0"  rpy="0 0 0" />
   <geometry >
    <mesh  filename="package://base-m.SLDASM/meshes/b_in.STL" />
   </geometry>
   <material  name="blue" >
    <color  rgba="0 0 0.5 1" />
   </material>
  </visual>
  <collision >
   <origin  xyz="0 0 0"  rpy="0 0 0" />
   <geometry >
    <mesh  filename="package://base-m.SLDASM/meshes/b_in.STL" />
   </geometry>
  </collision>
 </link>
 <link  name="BASEM297_BASEM0_CONNECTORM0_CONNECTORM0_ic_body" >
  <inertial >
   <origin  xyz="0 -4.8218E-18 -0.0047"  rpy="0 0 0" />
   <mass  value="0" />
   <inertia  iyz="0"  ixx="0.00028474"  iyy="0.00028474"  ixy="0"  ixz="2.1721E-37"  izz="0.000562" />
  </inertial>
  <visual >
   <origin  xyz="0 0 0"  rpy="0 0 0" />
   <geometry >
    <mesh  filename="package://input_connector_m.SLDASM/meshes/ic_body.STL" />
   </geometry>
   <material  name="blue" >
    <color  rgba="0 0 0.5 1" />
   </material>
  </visual>
  <collision >
   <origin  xyz="0 0 0"  rpy="0 0 0" />
   <geometry >
    <mesh  filename="package://input_connector_m.SLDASM/meshes/ic_body.STL" />
   </geometry>
  </collision>
 </link>
 <link  name="BASEM297_BASEM0_CONNECTORM0_CONNECTORM0_ic_in" >
  <inertial >
   <origin  xyz="-4.5413E-34 1.0801E-17 0.0047"  rpy="0 0 0" />
   <mass  value="0.50882" />
   <inertia  iyz="0"  ixx="0.00028474"  iyy="0.00028474"  ixy="0"  ixz="2.1721E-37"  izz="0.000562" />
  </inertial>
  <visual >
   <origin  xyz="0 0 0"  rpy="0 0 0" />
   <geometry >
    <mesh  filename="package://input_connector_m.SLDASM/meshes/ic_in.STL" />
   </geometry>
   <material  name="blue" >
    <color  rgba="0 0 0.5 1" />
   </material>
  </visual>
  <collision >
   <origin  xyz="0 0 0"  rpy="0 0 0" />
   <geometry >
    <mesh  filename="package://input_connector_m.SLDASM/meshes/ic_in.STL" />
   </geometry>
  </collision>
 </link>
 <joint  name="BASEM297_BASEM0_BASEM0_BASEM0_b_medium"  type="fixed" >
  <origin  xyz="0 0 0.0423"  rpy="3.14159265358979 0 0" />
  <parent  link="BASEM297_BASEM0_BASEM0_BASEM0_b_body" />
  <child  link="BASEM297_BASEM0_BASEM0_BASEM0_b_in" />
  <axis  xyz="0 0 0" />
 </joint>
 <joint  name="BASEM297_BASEM0_CONNECTORM0_CONNECTORM0_ic_medium_1"  type="fixed" >
  <origin  xyz="0 0 0"  rpy="0 0 0" />
  <parent  link="BASEM297_BASEM0_BASEM0_BASEM0_b_in" />
  <child  link="BASEM297_BASEM0_CONNECTORM0_CONNECTORM0_ic_body" />
  <axis  xyz="0 0 0" />
 </joint>
 <joint  name="BASEM297_BASEM0_CONNECTORM0_CONNECTORM0_ic_medium_2"  type="fixed" >
  <origin  xyz="0 0 -0.0094"  rpy="0 0 0" />
  <parent  link="BASEM297_BASEM0_CONNECTORM0_CONNECTORM0_ic_body" />
  <child  link="BASEM297_BASEM0_CONNECTORM0_CONNECTORM0_ic_in" />
  <axis  xyz="0 0 0" />
 </joint>
</robot>
