<?xml version="1.0"?>
<robot  name="UNNAMED_202" >
 <link  name="EEMM12_IMU6_IMU6_reverse_IMU6_IMU6_U_ic_in" >
  <inertial >
   <origin  rpy="0 0 0"  xyz="-4.5413E-34 1.0801E-17 0.0047" />
   <mass  value="0.50882" />
   <inertia  iyz="0"  ixx="0.00028474"  iyy="0.00028474"  ixy="0"  ixz="2.1721E-37"  izz="0.000562" />
  </inertial>
  <visual >
   <origin  rpy="0 0 0"  xyz="0 0 0" />
   <geometry >
    <mesh  filename="package://input_connector_m.SLDASM/meshes/ic_in.STL" />
   </geometry>
   <material  name="blue" >
    <color  rgba="0 0 0.5 1" />
   </material>
  </visual>
  <collision >
   <origin  rpy="0 0 0"  xyz="0 0 0" />
   <geometry >
    <mesh  filename="package://input_connector_m.SLDASM/meshes/ic_in.STL" />
   </geometry>
  </collision>
 </link>
 <link  name="EEMM12_IMU6_IMU6_reverse_IMU6_IMU6_U_ic_body" >
  <inertial >
   <origin  rpy="0 0 0"  xyz="0 -4.8218E-18 -0.0047" />
   <mass  value="0" />
   <inertia  iyz="0"  ixx="0.00028474"  iyy="0.00028474"  ixy="0"  ixz="2.1721E-37"  izz="0.000562" />
  </inertial>
  <visual >
   <origin  rpy="0 0 0"  xyz="0 0 0" />
   <geometry >
    <mesh  filename="package://input_connector_m.SLDASM/meshes/ic_body.STL" />
   </geometry>
   <material  name="blue" >
    <color  rgba="0 0 0.5 1" />
   </material>
  </visual>
  <collision >
   <origin  rpy="0 0 0"  xyz="0 0 0" />
   <geometry >
    <mesh  filename="package://input_connector_m.SLDASM/meshes/ic_body.STL" />
   </geometry>
  </collision>
 </link>
 <link  name="EEMM12_IMU6_EMU0_EMU0_U_ee_in" >
  <inertial >
   <origin  rpy="0 0 0"  xyz="-3.3818E-35 -4.4387E-20 5E-05" />
   <mass  value="0.0019211" />
   <inertia  iyz="-6.9194E-23"  ixx="3.7655E-07"  iyy="3.7655E-07"  ixy="2.1397E-39"  ixz="2.5988E-42"  izz="7.5309E-07" />
  </inertial>
  <visual >
   <origin  rpy="0 0 0"  xyz="0 0 0" />
   <geometry >
    <mesh  filename="package://end_effector_v_m.SLDASM/meshes/ee_in.STL" />
   </geometry>
   <material  name="blue" >
    <color  rgba="0 0 0.5 1" />
   </material>
  </visual>
  <collision >
   <origin  rpy="0 0 0"  xyz="0 0 0" />
   <geometry >
    <mesh  filename="package://end_effector_v_m.SLDASM/meshes/ee_in.STL" />
   </geometry>
  </collision>
 </link>
 <link  name="EEMM12_IMU6_EMU0_EMU0_U_ee_body" >
  <inertial >
   <origin  rpy="0 0 0"  xyz="-3.3818E-35 -4.4387E-20 5E-05" />
   <mass  value="0.0019211" />
   <inertia  iyz="-6.9194E-23"  ixx="3.7655E-07"  iyy="3.7655E-07"  ixy="2.1397E-39"  ixz="2.5988E-42"  izz="7.5309E-07" />
  </inertial>
  <visual >
   <origin  rpy="0 0 0"  xyz="0 0 0" />
   <geometry >
    <mesh  filename="package://end_effector_v_m.SLDASM/meshes/ee_body.STL" />
   </geometry>
   <material  name="body" >
    <color  rgba="0.5 0.5 0.5 1" />
   </material>
  </visual>
  <collision >
   <origin  rpy="0 0 0"  xyz="0 0 0" />
   <geometry >
    <mesh  filename="package://end_effector_v_m.SLDASM/meshes/ee_body.STL" />
   </geometry>
  </collision>
 </link>
 <joint  type="fixed"  name="EEMM12_IMU6_IMU6_reverse_IMU6_IMU6_U_ic_medium_2" >
  <origin  rpy="0.0 0.0 0.0"  xyz="-0.0 -0.0 0.0094" />
  <parent  link="EEMM12_IMU6_IMU6_reverse_IMU6_IMU6_U_ic_in" />
  <child  link="EEMM12_IMU6_IMU6_reverse_IMU6_IMU6_U_ic_body" />
  <axis  xyz="0 0 0" />
 </joint>
 <joint  type="fixed"  name="EEMM12_IMU6_IMU6_reverse_IMU6_IMU6_U_ic_medium_1" >
  <origin  rpy="0.0 0.0 0.0"  xyz="-0.0 -0.0 -0.0" />
  <parent  link="EEMM12_IMU6_IMU6_reverse_IMU6_IMU6_U_ic_body" />
  <child  link="EEMM12_IMU6_EMU0_EMU0_U_ee_in" />
  <axis  xyz="0 0 0" />
 </joint>
 <joint  type="fixed"  name="EEMM12_IMU6_EMU0_EMU0_U_ee_medium" >
  <origin  rpy="0 0 0"  xyz="0 0 0" />
  <parent  link="EEMM12_IMU6_EMU0_EMU0_U_ee_in" />
  <child  link="EEMM12_IMU6_EMU0_EMU0_U_ee_body" />
  <axis  xyz="0 0 0" />
 </joint>
</robot>
