<?xml version="1.0"?>
<robot  name="UNNAMED_208" >
 <link  name="SLM80_SLU0_SLU0_U_sl_out_1" >
  <inertial >
   <origin  rpy="0 0 0"  xyz="-6.238E-18 -3.0195E-34 -0.075" />
   <mass  value="0.42412" />
   <inertia  ixx="0.00089064"  iyz="-9.2204E-37"  izz="0.00019085"  ixy="-5.4226E-37"  iyy="0.00089064"  ixz="-3.3881E-20" />
  </inertial>
  <visual >
   <origin  rpy="0 0 0"  xyz="0 0 0" />
   <geometry >
    <mesh  filename="package://straight_link-l.SLDASM/meshes/sl_out_1.STL" />
   </geometry>
   <material  name="red" >
    <color  rgba="0.5 0 0 1" />
   </material>
  </visual>
  <collision >
   <origin  rpy="0 0 0"  xyz="0 0 0" />
   <geometry >
    <mesh  filename="package://straight_link-l.SLDASM/meshes/sl_out_1.STL" />
   </geometry>
  </collision>
 </link>
 <link  name="SLM80_SLU0_SLU0_U_sl_body" >
  <inertial >
   <origin  rpy="0 0 0"  xyz="-6.238E-18 -3.0195E-34 -0.075" />
   <mass  value="0.42412" />
   <inertia  ixx="0.00089064"  iyz="-9.2204E-37"  izz="0.00019085"  ixy="-5.4226E-37"  iyy="0.00089064"  ixz="-3.3881E-20" />
  </inertial>
  <visual >
   <origin  rpy="0 0 0"  xyz="0 0 0" />
   <geometry >
    <mesh  filename="package://straight_link-l.SLDASM/meshes/sl_body.STL" />
   </geometry>
   <material  name="body" >
    <color  rgba="0.5 0.5 0.5 1" />
   </material>
  </visual>
  <collision >
   <origin  rpy="0 0 0"  xyz="0 0 0" />
   <geometry >
    <mesh  filename="package://straight_link-l.SLDASM/meshes/sl_body.STL" />
   </geometry>
  </collision>
 </link>
 <link  name="SLM80_SLU0_SLU0_U_sl_out_2" >
  <inertial >
   <origin  rpy="0 0 0"  xyz="-6.238E-18 -3.6234E-35 -0.075" />
   <mass  value="0.42412" />
   <inertia  ixx="0.00089064"  iyz="-9.2204E-37"  izz="0.00019085"  ixy="5.4226E-37"  iyy="0.00089064"  ixz="3.3881E-20" />
  </inertial>
  <visual >
   <origin  rpy="0 0 0"  xyz="0 0 0" />
   <geometry >
    <mesh  filename="package://straight_link-l.SLDASM/meshes/sl_out_2.STL" />
   </geometry>
   <material  name="red" >
    <color  rgba="0.5 0 0 1" />
   </material>
  </visual>
  <collision >
   <origin  rpy="0 0 0"  xyz="0 0 0" />
   <geometry >
    <mesh  filename="package://straight_link-l.SLDASM/meshes/sl_out_2.STL" />
   </geometry>
  </collision>
 </link>
 <joint  name="SLM80_SLU0_SLU0_U_sl_large_1"  type="fixed" >
  <origin  rpy="0 0 0"  xyz="0 0 0" />
  <parent  link="SLM80_SLU0_SLU0_U_sl_out_1" />
  <child  link="SLM80_SLU0_SLU0_U_sl_body" />
  <axis  xyz="0 0 0" />
 </joint>
 <joint  name="SLM80_SLU0_SLU0_U_sl_large_2"  type="fixed" >
  <origin  rpy="3.14159265358979 0 0"  xyz="0 0 -0.15" />
  <parent  link="SLM80_SLU0_SLU0_U_sl_body" />
  <child  link="SLM80_SLU0_SLU0_U_sl_out_2" />
  <axis  xyz="0 0 0" />
 </joint>
</robot>
