<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="straight_link-ms.SLDASM">
  <link
    name="sl_out_1">
    <inertial>
      <origin
        xyz="-2.61E-07 7.571E-07 -0.097144"
        rpy="0 0 0" />
      <mass
        value="0.86346" />
      <inertia
        ixx="0.0033145"
        ixy="3.4516E-09"
        ixz="-3.4917E-09"
        iyy="0.0033145"
        iyz="9.5259E-09"
        izz="0.00060028" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://straight_link-ms.SLDASM/meshes/sl_out_1.STL" />
      </geometry>
      <material
        name="red">
        <color
          rgba="0.5 0 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://straight_link-ms.SLDASM/meshes/sl_out_1.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="sl_body">
    <inertial>
      <origin
        xyz="-2.61E-07 7.571E-07 -0.097144"
        rpy="0 0 0" />
      <mass
        value="0.86346" />
      <inertia
        ixx="0.0033145"
        ixy="3.4516E-09"
        ixz="-3.4917E-09"
        iyy="0.0033145"
        iyz="9.5259E-09"
        izz="0.00060028" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://straight_link-ms.SLDASM/meshes/sl_body.STL" />
      </geometry>
      <material
        name="body">
        <color
          rgba="0.5 0.5 0.5 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://straight_link-ms.SLDASM/meshes/sl_body.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="sl_medium"
    type="fixed">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="sl_out_1" />
    <child
      link="sl_body" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="sl_out_2">
    <inertial>
      <origin
        xyz="5.2473E-08 1.4238E-07 -0.10286"
        rpy="0 0 0" />
      <mass
        value="0.86346" />
      <inertia
        ixx="0.0033145"
        ixy="-3.4516E-09"
        ixz="3.4917E-09"
        iyy="0.0033145"
        iyz="9.5259E-09"
        izz="0.00060028" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://straight_link-ms.SLDASM/meshes/sl_out_2.STL" />
      </geometry>
      <material
        name="red">
        <color
          rgba="0.5 0 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://straight_link-ms.SLDASM/meshes/sl_out_2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="sl_small"
    type="fixed">
    <origin
      xyz="0 0 -0.2"
      rpy="3.1416 0 0" />
    <parent
      link="sl_body" />
    <child
      link="sl_out_2" />
    <axis
      xyz="0 0 0" />
  </joint>
</robot>