<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="end_effector_l.SLDASM">
  <link
    name="e_in">
    <inertial>
      <origin
        xyz="-0.00011964 -0.00011996 0.048642"
        rpy="0 0 0" />
      <mass
        value="0.36353" />
      <inertia
        ixx="0.0002852"
        ixy="4.8463E-06"
        ixz="5.8994E-07"
        iyy="0.0018787"
        iyz="7.1124E-07"
        izz="0.00197" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://end_effector_l.SLDASM/meshes/e_in.STL" />
      </geometry>
      <material
        name="blue">
        <color
          rgba="0 0 0.5 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://end_effector_l.SLDASM/meshes/e_in.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="e_body">
    <inertial>
      <origin
        xyz="-0.00011964 -0.00011996 0.048642"
        rpy="0 0 0" />
      <mass
        value="0.36353" />
      <inertia
        ixx="0.0001853"
        ixy="9.8589E-08"
        ixz="7.6656E-08"
        iyy="0.00081407"
        iyz="1.3478E-07"
        izz="0.00093275" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://end_effector_l.SLDASM/meshes/e_body.STL" />
      </geometry>
      <material
        name="body">
        <color
          rgba="0.5 0.5 0.5 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://end_effector_l.SLDASM/meshes/e_body.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="e_large"
    type="fixed">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="e_in" />
    <child
      link="e_body" />
    <axis
      xyz="0 0 0" />
  </joint>
</robot>