<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="input_connector_s.SLDASM">
  <link
    name="ic_out">
    <inertial>
      <origin
        xyz="0 2.5266E-18 -0.00365"
        rpy="0 0 0" />
      <mass
        value="0.23832" />
      <inertia
        ixx="8.0432E-05"
        ixy="0"
        ixz="6.1355E-38"
        iyy="8.0432E-05"
        iyz="0"
        izz="0.00015875" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://input_connector_s.SLDASM/meshes/ic_out.STL" />
      </geometry>
      <material
        name="red">
        <color
          rgba="0.5 0 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://input_connector_s.SLDASM/meshes/ic_out.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="ic_body">
    <inertial>
      <origin
        xyz="0 2.5266E-18 -0.00365"
        rpy="0 0 0" />
      <mass
        value="0.23832" />
      <inertia
        ixx="8.0432E-05"
        ixy="0"
        ixz="6.1355E-38"
        iyy="8.0432E-05"
        iyz="0"
        izz="0.00015875" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://input_connector_s.SLDASM/meshes/ic_body.STL" />
      </geometry>
      <material
        name="blue">
        <color
          rgba="0 0 0.5 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://input_connector_s.SLDASM/meshes/ic_body.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="ic_small_1"
    type="fixed">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="ic_out" />
    <child
      link="ic_body" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="ic_in">
    <inertial>
      <origin
        xyz="-3.5268E-34 -1.0426E-17 0.00365"
        rpy="0 0 0" />
      <mass
        value="0.23832" />
      <inertia
        ixx="8.0432E-05"
        ixy="0"
        ixz="6.1355E-38"
        iyy="8.0432E-05"
        iyz="0"
        izz="0.00015875" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://input_connector_s.SLDASM/meshes/ic_in.STL" />
      </geometry>
      <material
        name="blue">
        <color
          rgba="0 0 0.5 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://input_connector_s.SLDASM/meshes/ic_in.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="ic_small_2"
    type="fixed">
    <origin
      xyz="0 0 -0.0073"
      rpy="0 0 0" />
    <parent
      link="ic_body" />
    <child
      link="ic_in" />
    <axis
      xyz="0 0 0" />
  </joint>
</robot>